*, * * {
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    position: relative;
}

.top-bar, .tab-bar {
    position: fixed;
    width: 100vw;
    height: $bar-height;
    line-height: $bar-height;
    font-size: 18px;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.top-bar {
    top: 0;
}

.tab-bar {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app-body {
    padding: $bar-height+10px 10px;
}

.tab {
    width: 100%;
    border-bottom: 8px solid transparent;
    transition: border-bottom-color 300ms ease-out;
}

p {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 16px;
}

input, button {
    width: 100%;
    height: $input-height;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 16px;
}

button {
    transition: background 300ms ease-out;
    border: none;
    border-radius: 4px;
}

.show-on-offline {
    display: none;
}

h3 {
    transition: color 300ms ease-out;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;

    &:before {
        content: '#';
        font-weight: 600;
    }
}